<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="https://res.cloudinary.com/kundankumar26/image/upload/v1600028098/portfolio/KK_logo.png" />
        <title>Portfolio</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway|Rum+Raisin|Tillana|Kalam" rel="stylesheet"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheet/portfolio.css">
        <link rel="stylesheet" href="/stylesheet/resume.css">
        <link rel="stylesheet" href="/stylesheet/work.css">
        <link rel="stylesheet" href="/stylesheet/header.css">
        <link rel="stylesheet" href="/stylesheet/footer.css">
    </head>
<body>
    
<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="#!">KK</a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list" id="current-list">
        <li class = "current-item">
          <a href="/portfolio">Portfolio</a>
        </li>
        <li>
          <a href="/work">Projects</a>
        </li>
        <li>
          <a href="/resume" >Resume</a>
        </li>
      </ul>
    </nav>
  </div>
</section>

