
<% include partials/header %>

<!--navbar-->
    <div class="img">
    </div>
    <div class="padding"></div>

<!--about me paragraph-->
    <div class="about-me" style="animation: 1s fadebottom forwards">
        <div class="profile-pic-img">
            <img class="profile-pic-img" src="https://res.cloudinary.com/kundankumar26/image/upload/v1600039377/portfolio/cat.png">
        </div>
        <div class="about-me-paragraph">
            <h2>About Me</h2>
            <p class="about-para">Hi, I'm Kundan Kumar and I have completed my graduation in Computer Science & Engineering 
                from Netaji Subhash Engineering College. I've deep interest in Android and Web Development. My hobby is to 
                take photographs and work as Cinematographer and Editor to create videos.</p>
        </div>
    </div>

<!--photography images-->
<section class="photography-content">
    <h2 class="photography-heading"><b>photography</b></h2>
    <div class="photography" style="transition: 1s ease-in forwards;">
            <img class="photos" src="https://res.cloudinary.com/kundankumar26/image/upload/v1561624193/portfolio/photos/nikon.jpg">
            <img class="photos" src="https://res.cloudinary.com/kundankumar26/image/upload/v1561624195/portfolio/photos/buddha.jpg">
            <img class="photos" src="https://res.cloudinary.com/kundankumar26/image/upload/v1561624193/portfolio/photos/spider.jpg">
            <img class="photos" src="https://res.cloudinary.com/kundankumar26/image/upload/v1561624193/portfolio/photos/pigeon.jpg">
            <img class="photos" src="https://res.cloudinary.com/kundankumar26/image/upload/v1561624197/portfolio/photos/plane.jpg">
            <img class="photos" src="https://res.cloudinary.com/kundankumar26/image/upload/v1561624194/portfolio/photos/room.jpg">
            <img class="photos" src="https://res.cloudinary.com/kundankumar26/image/upload/v1561624192/portfolio/photos/cat.jpg">
            <img class="photos" src="https://res.cloudinary.com/kundankumar26/image/upload/v1561624191/portfolio/photos/building.jpg">
    </div>
</section>

<!--Youtube Videos-->
<section class="video-content">
    <h2 class="photography-heading">YouTube Videos</h2>
    <div class="videography" style="transition: 1s ease-in forwards;">
        <iframe class="youtube-videos" width="640" height="380" src="https://www.youtube.com/embed/pvze9BPX36U?rel=0&modestbranding=1&html5=1&vq=hd720" 
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>

        <iframe class="youtube-videos" width="640" height="380" src="https://www.youtube.com/embed/XJ2q5LviZfQ?rel=0&modestbranding=1&html5=1&vq=hd720" 
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
            
    </div>
</section>




<% include partials/footer %>
