<% include partials/header %>

<div class="resume-img">
        <p class="resume-para">Find out what I've accomplished over the years <br>
        <span id="resume-heading">Dig a little deeper</span></p>
        <a href="https://res.cloudinary.com/kundankumar26/raw/upload/v1561626204/portfolio/documents/kundan_kumar.docx" id="download-btn">Download Resume</a>
    
</div>

<div class="container resume" style="animation: 1s fadein forwards;">
    <h2>Technologies</h2>
    <div class="row">
        <div class="resume-items col-lg-2 col-md-2 col-sm-2 col-3">
            <img class="resume-images" src="https://res.cloudinary.com/kundankumar26/image/upload/v1600005461/portfolio/Resume/html1.png">
            <span class="resume-items-text">HTML5</span>
        </div>
        <div class="resume-items col-lg-2 col-md-2 col-sm-2 col-3">
            <img class="resume-images" src="https://res.cloudinary.com/kundankumar26/image/upload/v1600005461/portfolio/Resume/css1.png">
            <span class="resume-items-text">CSS3</span>
        </div>
        <div class="resume-items col-lg-2 col-md-2 col-sm-2 col-3">
            <img class="resume-images" src="https://res.cloudinary.com/kundankumar26/image/upload/v1600005461/portfolio/Resume/js1.png">
            <span class="resume-items-text">JavaScript</span>
        </div>
        <div class="resume-items col-lg-2 col-md-2 col-sm-2 col-3">
            <img class="resume-images" src="https://res.cloudinary.com/kundankumar26/image/upload/v1600006103/portfolio/Resume/jquery.png">
            <span class="resume-items-text">jQuery</span>
        </div>
        <div class="resume-items col-lg-2 col-md-2 col-sm-2 col-3">
            <img class="resume-images" src="https://res.cloudinary.com/kundankumar26/image/upload/v1600006204/portfolio/Resume/bootstrap.png">
            <span class="resume-items-text">Bootstrap</span>
        </div>
        <div class="resume-items col-lg-2 col-md-2 col-sm-2 col-3">
            <img class="resume-images" src="https://res.cloudinary.com/kundankumar26/image/upload/v1600009619/portfolio/Resume/api.png">
            <span class="resume-items-text">Api</span>
        </div>
        <div class="resume-items col-lg-2 col-md-2 col-sm-2 col-3">
            <img class="resume-images" src="https://res.cloudinary.com/kundankumar26/image/upload/v1600009619/portfolio/Resume/ajax.png">
            <span class="resume-items-text">Ajax</span>
        </div>
        <div class="resume-items col-lg-2 col-md-2 col-sm-2 col-3">
            <img class="resume-images" src="https://res.cloudinary.com/kundankumar26/image/upload/v1600009619/portfolio/Resume/mongodb.png">
            <span class="resume-items-text">MongoDB</span>
        </div>
        <div class="resume-items col-lg-2 col-md-2 col-sm-2 col-3">
            <img class="resume-images" src="https://res.cloudinary.com/kundankumar26/image/upload/v1600009620/portfolio/Resume/mysql.png">
            <span class="resume-items-text">MySQL</span>
        </div>
        <div class="resume-items col-lg-2 col-md-2 col-sm-2 col-3">
            <img class="resume-images" src="https://res.cloudinary.com/kundankumar26/image/upload/v1600017979/portfolio/Resume/expres.png">
            <span class="resume-items-text">Express.js</span>
        </div>
        <div class="resume-items col-lg-2 col-md-2 col-sm-2 col-3">
            <img class="resume-images" src="https://res.cloudinary.com/kundankumar26/image/upload/v1600006103/portfolio/Resume/node.png">  
            <span class="resume-items-text">Node.js</span>
        </div>
    </div>
</div>


<div class="container resume" style="animation: 1s fadein forwards;">
    <h2>Language</h2>
    <div class="row">
        <div class="resume-items col-lg-2 col-md-2 col-sm-2 col-3">
            <img class="resume-images" src="https://res.cloudinary.com/kundankumar26/image/upload/v1600009619/portfolio/Resume/cplus.png">
            <span class="resume-items-text">C++</span>
        </div>
        <div class="resume-items col-lg-2 col-md-2 col-sm-2 col-3">
            <img class="resume-images" src="https://res.cloudinary.com/kundankumar26/image/upload/v1600023750/portfolio/Resume/java1.png">
            <span class="resume-items-text">Java</span>
        </div>
        <div class="resume-items col-lg-2 col-md-2 col-sm-2 col-3">
            <img class="resume-images" src="https://res.cloudinary.com/kundankumar26/image/upload/v1600023341/portfolio/Resume/python.png">
            <span class="resume-items-text">Python</span>
        </div>
    </div>
</div>


<!-- <div class="container resume" style="animation: 1s fadein forwards;">
    <h2>Education</h2>
    <div class="row" id="resume-education">
        <div class="resume-items col-lg-2 col-md-2 col-sm-2 col-3">
            <img class="resume-images" src="https://res.cloudinary.com/kundankumar26/image/upload/v1600011227/portfolio/Resume/dav.png">
            <span class="resume-items-text">DAV Public School</span>
        </div>
        <div class="resume-items col-lg-2 col-md-2 col-sm-2 col-3">
            <img class="resume-images" src="https://res.cloudinary.com/kundankumar26/image/upload/v1600011227/portfolio/Resume/lasea.png">
            <span class="resume-items-text">Lady Anusuya Singhania Educational Academy</span>
        </div>
        <div class="resume-items col-lg-2 col-md-2 col-sm-2 col-3">
            <img class="resume-images" src="https://res.cloudinary.com/kundankumar26/image/upload/v1600011227/portfolio/Resume/nsec.png">
            <span class="resume-items-text">Netaji Subhash Engineering College</span>
        </div>
    </div>
</div> -->


<div class="container resume" style="animation: 1s fadein forwards;">
    <h2>Education</h2>
    <div class="row" id="resume-education">
        <div class="resume-items col-lg-4 col-md-4 col-sm-4 col-4">
            <img class="resume-images" src="https://res.cloudinary.com/kundankumar26/image/upload/v1600011227/portfolio/Resume/dav.png">
            <span class="resume-items-text">Till 2014</span>
            <span class="resume-items-text">DAV Public School</span>
        </div>
        <div class="resume-items col-lg-4 col-md-4 col-sm-4 col-4">
            <img class="resume-images" src="https://res.cloudinary.com/kundankumar26/image/upload/v1600011227/portfolio/Resume/lasea.png">
            <span class="resume-items-text">2014-2016</span>
            <span class="resume-items-text">Lady Anusuya Singhania Edu. Academy</span>
        </div>
        <div class="resume-items col-lg-4 col-md-4 col-sm-4 col-4">
            <img class="resume-images" src="https://res.cloudinary.com/kundankumar26/image/upload/v1600011227/portfolio/Resume/nsec.png">
            <span class="resume-items-text">2016-2020</span>
            <span class="resume-items-text">Netaji Subhash Engineering College</span>
        </div>
    </div>
</div>





<% include partials/footer %>
