<% include partials/header %>

<div class="container" style="animation: 1s fadein forwards;">
   <!-- Web Design here -->
   <h2>Web Designs<h2>
    <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
               
                <div class="block" style="background:url(https://res.cloudinary.com/kundankumar26/image/upload/v1532209452/portfolio/blog-app.jpg) center; background-size:cover;">
                    <span class="gradient"> <span class="block-show">blog app<br>
                    <a class="block-btn" href="https://blognapp.herokuapp.com/blog">View Page</a>
                    </span> </span></div>
                    
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                   
                <div class="block" style="background:url(https://res.cloudinary.com/kundankumar26/image/upload/v1532209456/portfolio/cisco.jpg) center; background-size:cover;">
                    <span class="gradient"> <span class="block-show">Cisco<br>
                    <a class="block-btn" href="https://cisconew.herokuapp.com/">View Page</a>
                    </span> </span></div>
                    
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                   
                <div class="block" style="background:url(https://res.cloudinary.com/kundankumar26/image/upload/v1533298716/portfolio/todo-appimg.jpg) center; background-size:cover;">
                    <span class="gradient"> <span class="block-show">Todo app<br>
                    <a class="block-btn" href="https://todolitapp.herokuapp.com/">View Page</a>
                    </span> </span></div>
                    
            </div>
            
            
       
    </div>
</div>
    
<div class="container" style="animation: 1s fadein forwards;">
   <!-- Blogs here -->
   <h2>Blogs<h2>
    <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                
                <div class="block" style="background:url(https://res.cloudinary.com/kundankumar26/image/upload/v1534067369/portfolio/blogs.jpg) center; background-size:cover;">
                    <span class="gradient"> <span class="block-show">2nd Most Loved Beverage<br>
                    <a class="block-btn" href="https://mi6xa2.blogspot.com/">View Page</a>
                    </span> </span>
                </div>
                    
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                
                <div class="block" style="background:url(https://res.cloudinary.com/kundankumar26/image/upload/v1600027328/portfolio/add_text.jpg) center; background-size:cover;">
                    <span class="gradient"> <span class="block-show">Add Text Behind Object<br>
                    <a class="block-btn" href="https://medium.com/@kundankumar_/add-text-behind-object-with-blur-effect-in-snapseed-44c9526061ca?source=friends_link&sk=533b5b642c362cb7cebf42685fd921e4">View Page</a>
                    </span> </span>
                </div>
                    
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                
                <div class="block" style="background:url(https://res.cloudinary.com/kundankumar26/image/upload/v1600027465/portfolio/distorted_text.jpg) center; background-size:cover;">
                    <span class="gradient"> <span class="block-show">Distorted Text in Snapseed<br>
                    <a class="block-btn" href="https://medium.com/@kundankumar_/distorted-text-in-snapseed-b1ccf9fd5e57?source=friends_link&sk=2493d4978db783613167562ae5ecf7f5">View Page</a>
                    </span> </span>
                </div>
                    
            </div>
    </div>
</div>

<!--code pen works goes here-->
<div class="container" style="animation: 1s fadein forwards;">
   
   <h2>Code Pen Works<h2>
    <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                
                <div class="block" style="background:url(https://res.cloudinary.com/kundankumar26/image/upload/v1532208367/portfolio/random_user.jpg) center; background-size:cover;">
                    <span class="gradient"> <span class="block-show">random user generator<br>
                    <a class="block-btn" href="https://codepen.io/kundankumar26/full/jKgvyd/">View Page</a>
                    </span> </span></div>
                    
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                
                <div class="block" style="background:url(https://res.cloudinary.com/kundankumar26/image/upload/v1532209460/portfolio/color-game.jpg) center; background-size:cover;">
                    <span class="gradient"> <span class="block-show">color game<br>
                    <a class="block-btn" href="https://codepen.io/kundankumar26/full/NBbmzL/">View Page</a>
                    </span> </span></div>
                    
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                
                <div class="block" style="background:url(https://res.cloudinary.com/kundankumar26/image/upload/v1534067924/portfolio/ajax_calls.jpg) center; background-size:cover;">
                    <span class="gradient"> <span class="block-show">ajax calls<br>
                    <a class="block-btn" href="https://codepen.io/kundankumar26/full/qyrare/">View Page</a>
                    </span> </span></div>
                
            </div>
    </div>
</div>


<!--Android App works goes here-->
<div class="container" style="animation: 1s fadein forwards;">
   
    <h2>Android Apps<h2>
     <div class="row">
             <div class="col-lg-4 col-md-4 col-sm-6">
                 
                 <div class="block" style="background:url(https://res.cloudinary.com/kundankumar26/image/upload/v1532208367/portfolio/random_user.jpg) center; background-size:cover;">
                     <span class="gradient"> <span class="block-show">Taja Khabar<br>
                     <a class="block-btn" href="https://github.com/kundankumar26/My-News-App">View Page</a>
                     </span> </span></div>
                     
             </div>
             <div class="col-lg-4 col-md-4 col-sm-6">
                 
                 <div class="block" style="background:url(https://res.cloudinary.com/kundankumar26/image/upload/v1532209460/portfolio/color-game.jpg) center; background-size:cover;">
                     <span class="gradient"> <span class="block-show">Connect with 3<br>
                     <a class="block-btn" href="https://github.com/kundankumar26/Connect-With-3">View Page</a>
                     </span> </span></div>
                     
             </div>
             <div class="col-lg-4 col-md-4 col-sm-6">
                 
                 <div class="block" style="background:url(https://res.cloudinary.com/kundankumar26/image/upload/v1534067924/portfolio/ajax_calls.jpg) center; background-size:cover;">
                     <span class="gradient"> <span class="block-show">Tick Tick<br>
                     <a class="block-btn" href="https://github.com/kundankumar26/TickTick">View Page</a>
                     </span> </span></div>
                 
             </div>
     </div>
 </div>


<% include partials/footer %>